{{> head}}

    {{> navbar}}

    <div clas="row">
        <div class="col-8">
            <h1>Akali K/DA</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae enim quod obcaecati, sequi rem, voluptate optio quasi eaque consequuntur alias voluptas cupiditate voluptatum saepe perspiciatis praesentium magnam deleniti ea sapiente!
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/akalikda.jpg" class="img-thumbnail">
        </div>
    </div>


{{> footer}}